.matching-game {
	text-align: center;
	background-image: url('./assets/geometry2.png');
	width: 100%;
	height: 100vh;
	padding: 3rem;
}

* {
	box-sizing: border-box;
	font-family: 'Varela Round', sans-serif;
}
